#content
  .post
    h2.title
      a(href='#') Jack Dubie
    p.byline
    .entry
      table(cellspacing='30')
        tr
          td
            strong Mobile
          td 802 734-3046
        tr
          td
            strong Email
          td jdubie@stanford.edu
        tr
          td
            strong Mailing
          td
            | P.O. Box 14693
            p Stanford, CA  94309

#sidebar
  li
    h2 2011 Dates
    ul
      li
  li
    h2 Session I
    ul
      li August 15 - August 19
      li 9 am - 2 pm
  li
    h2 2010 Dates
    ul
      li
  li
    h2 Session I
    ul
      li June 21 - June 25
      li 9 am - 3 pm
  li
    h2 Session II
    ul
      li July 19 - July 23
      li 9 am - 3 pm