!!! strict
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://opengraphprotocol.org/schema/', xmlns:fb='http://www.facebook.com/2008/fbml')
  head
    meta(property='og:title', content='The Boys of Summer Camp')
    meta(property='og:type', content='sports_team')
    meta(property='og:site_name', content='The Boys of Summer')
    meta(property='og:url', content='http://theboysofsummercamp.com/')
    meta(property='fb:admins', content='629190832')
    meta(property='og:image', content='http://sphotos.ak.fbcdn.net/hphotos-ak-ash2/hs101.ash2/38407_469745095832_629190832_6806235_6390387_n.jpg')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title The Boys of Summer
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='default.css', rel='stylesheet', type='text/css')
    script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17985058-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    #wrapper
      #header
        #logo
          h1
            a(href='#') The Boys of Summer
          h2 A week of sports, computers, and fun
        // end div#logo
      // end div#header
      #menu
        ul
          li.active
            a(href='/') Home
          li
            a(href='./portfolios.html') Portfolios
          li
            a(href='./media.html') Media
          li
            a(href='./about.html') About
          li
            a(href='./contact.html') Contact
          li.signup
            iframe(src='http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftheboysofsummercamp.com&layout=button_count&show_faces=true&width=52&action=like&colorscheme=light&height=21', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:52px; height:21px;', allowtransparency='true')
      // end div#menu
      #page
        .center
          img(src='./images/header.jpg', width='940')
        #page-bgtop
          #content
            .post
              h2.title
                a(href='#') Session II
              p.byline
              .entry
                p
                  | Check out
                  a(href='media.html')
                  | pictures
                  | from Session II.
                p
                  object(style='height: 344px; width: 425px')
                    param(name='movie', value='http://www.youtube.com/v/zVrBikGDct0')
                    param(name='allowFullScreen', value='true')
                    param(name='allowScriptAccess', value='always')
                    embed(src='http://www.youtube.com/v/zVrBikGDct0', type='application/x-shockwave-flash', allowfullscreen='true', allowscriptaccess='always', width='425', height='344')
            .post
              h2.title
                a(href='#') Session I
              p.byline
              .entry
                p
                  | Nolan and I had a blast in Session I of camp. We're really glad everyone could
                  | attend.
            .post
              h2.title
                a(href='#') Portfolios
              p.byline
              .entry
                p
                  | See your camper's portfolio:
                  a(href='.\portfolios.html') Work from Session I
            .post
              h2.title
                a(href='#') Media
              p.byline
              .entry
                p
                  | See photos and watch videos from Session I of camp:
                  a(href='.\media.html') Media from Session I
            // <div class="post">
          <h2 class="title"><a href="#">Welcome!</a></h2>
          <p class="byline"></p>
          <div class="entry">
            <p>I'm glad you found your way to the camp site. You can learn more about me and this camp under the <a href="/about.html">ABOUT</a> tab in the menu. To view the camp the <a href="/schedule.html">SCHEDULE</a> link to see the camp schedule. To sign up for camp please see the <a href="/links.html">LINKS</a> page. Again, welcome to <strong>The Boys of Summer</strong> camp page and look I forward to seeing you this summer!</p><p>Jack</p>
          </div>
			</div>
          // end div#content
          #sidebar
            li
              h2 2010 Dates
              ul
                li
            li
              h2 Session I
              ul
                li June 21 - June 25
                li 9 am - 3 pm
            li
              h2 Session II
              ul
                li July 19 - July 23
                li 9 am - 3 pm
          // <li id="search">
            <h2>Search</h2>
            <form method="get" action="">
              <fieldset>
              <input type="text" id="search-text" name="s" value="" />
              <input type="submit" id="search-submit" value="Search" />
              </fieldset>
            </form>
          </li>
          <li>
            <h2>Lorem Ipsum</h2>
            <ul>
              <li><a href="#">Fusce dui neque fringilla</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
            </ul>
          </li>
          <li>
            <h2>Volutpat Dolore</h2>
            <ul>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
            </ul>
          </li>
          <li>
            <h2>Bebindum Mauris </h2>
            <ul>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
            </ul>
          </li>
        </ul>
      </div>
          // end div#sidebar
          div(style='clear: both; height: 1px')
      // end div#page
      #footer
        p
          | Copyright © 2007 Catteleya. All Rights Reserved. Designed by
          a(href='http://www.freecsstemplates.org/') Free CSS Templates
          | .
          a(href='#') Privacy Policy
          | |
          a(href='#') Terms of Use
      // end div#footer
    // end div#wrapper
    iframe(src='http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftheboysofsummercamp.com&layout=standard&show_faces=true&width=450&action=like&colorscheme=light&height=80', scrolling='no', frameborder='0', style='border:none; padding:30px; overflow:hidden; width:450px; height:80px;', allowtransparency='true')
