!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title The Boys of Summer
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='default.css', rel='stylesheet', type='text/css')
    script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17985058-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    #wrapper
      #header
        #logo
          h1
            a(href='./index.html') The Boys of Summer
          h2 A week of sports, computers, and fun
        // end div#logo 
      // end div#header 
      #menu
        ul
          li
            a(href='/') Home
          // <li><a href="/schedule.html">Schedule</a></li> 
          li.active
            a(href='./portfolios.html') Portfolios
          li
            a(href='./media.html') Media
          li
            a(href='./about.html') About
          li
            a(href='./contact.html') Contact
      // end div#menu 
      #page
        #page-bgtop
          #content
            .post
              h2.title
                a(href='#') Session I
              p.byline
              #portfolios
                li
                  ul
                    a(href='./portfolios/lucas/lucas.html') Lucas
                  ul
                    a(href='./portfolios/shane/shane.html') Shane
                  ul
                    a(href='./portfolios/jack/jack.html') Jack
                  ul
                    a(href='./portfolios/christopher/christopher.html') Christopher
                  ul
                    a(href='./portfolios/keenan/keenan.html') Keenan
                  ul
                    a(href='./portfolios/sam/sam.html') Sam
                  ul
                    a(href='./portfolios/miles/miles.html') Miles
            .post
              h2.title
                a(href='#') Session II
              p.byline
              #portfolios
                li
                  ul
                    a(href='./peter.html') Peter
                  ul
                    a(href='./michael.html') Michael
                  ul
                    a(href='./miles.html') Miles
                  ul
                    a(href='./yotam.html') Yotam
                  ul
                    a(href='./nicholas.html') Nicholas
                  ul
                    a(href='./franky.html') Franky
            // <div class="post">
          <h2 class="title"><a href="#">Welcome!</a></h2>
          <p class="byline"></p>
          <div class="entry">
            <p>I'm glad you found your way to the camp site. You can learn more about me and this camp under the <a href="/about.html">ABOUT</a> tab in the menu. To view the camp the <a href="/schedule.html">SCHEDULE</a> link to see the camp schedule. To sign up for camp please see the <a href="/links.html">LINKS</a> page. Again, welcome to <strong>The Boys of Summer</strong> camp page and look I forward to seeing you this summer!</p><p>Jack</p>
          </div>
			</div> 
          // end div#content 
          #sidebar
            li
              h2 2010 Dates
              ul
                li
            li
              h2 Session I
              ul
                li June 21 - June 25
                li 9 am - 3 pm
            li
              h2 Session II
              ul
                li July 19 - July 23
                li 9 am - 3 pm
          // <li id="search">
            <h2>Search</h2>
            <form method="get" action="">
              <fieldset>
              <input type="text" id="search-text" name="s" value="" />
              <input type="submit" id="search-submit" value="Search" />
              </fieldset>
            </form>
          </li>
          <li>
            <h2>Lorem Ipsum</h2>
            <ul>
              <li><a href="#">Fusce dui neque fringilla</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
            </ul>
          </li>
          <li>
            <h2>Volutpat Dolore</h2>
            <ul>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
            </ul>
          </li>
          <li>
            <h2>Bebindum Mauris </h2>
            <ul>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
            </ul>
          </li>
        </ul>
      </div> 
          // end div#sidebar 
          div(style='clear: both; height: 1px')
      // end div#page 
      #footer
        p
          | Copyright © 2007 Catteleya. All Rights Reserved. Designed by
          a(href='http://www.freecsstemplates.org/') Free CSS Templates
          | .
          a(href='#') Privacy Policy
          | |
          a(href='#') Terms of Use
      // end div#footer 
    // end div#wrapper 
