!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title The Boys of Summer
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='default.css', rel='stylesheet', type='text/css')
    script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17985058-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    #wrapper
      #header
        #logo
          h1
            a(href='#') The Boys of Summer
          h2 A week of sports, computers, and fun
        // end div#logo 
      // end div#header 
      #menu
        ul
          li
            a(href='/') Home
          li.active
            a(href='/schedule.html') Schedule
          li
            a(href='/links.html') Links
          li
            a(href='/about.html') About
          li
            a(href='/contact.html') Contact
      // end div#menu 
      #page
        #page-bgtop
          #content
            .post
              h2.title
                a(href='/schedule.html') Schedule
              p.byline
              .entry
                table(cellspacing='20')
                  tr
                    td
                      strong Day
                    td
                      strong Monday
                    td
                      strong Tuesday
                    td
                      strong Wednesday
                    td
                      strong Thursday
                    td
                      strong Friday
                  tr
                    td Morning
                    td Google: Mail, Calender
                    td Lacrosse stickwork
                    td Boating at Shoreline
                    td Baseball Defensive Clinic
                    td HTML and Build Websites
                  // <tr>
						<td>Lunch</td>
						<td>Lunch</td>
						<td>Lunch</td>
						<td>Lunch</td>
						<td>Tressider's Subway</td>
						<td>Lunch</td>
					</tr> 
                  tr
                    td Afternoon
                    td Basketball Fundamentals
                    td Photoshop Mayhem
                    td Make iMove of Boat Adventure
                    td Tour Stanford Robotics lab
                    td Football Pass Skeleton
          // end div#content 
          #sidebar
            li
              h2 2010 Dates
              ul
                li
            li
              h2 Session I
              ul
                li June 21 - June 25
                li 9 am - 3 pm
            li
              h2 Session II
              ul
                li July 19 - July 23
                li 9 am - 3 pm
          // <li id="search">
            <h2>Search</h2>
            <form method="get" action="">
              <fieldset>
              <input type="text" id="search-text" name="s" value="" />
              <input type="submit" id="search-submit" value="Search" />
              </fieldset>
            </form>
          </li>
          <li>
            <h2>Lorem Ipsum</h2>
            <ul>
              <li><a href="#">Fusce dui neque fringilla</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
            </ul>
          </li>
          <li>
            <h2>Volutpat Dolore</h2>
            <ul>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
            </ul>
          </li>
          <li>
            <h2>Bebindum Mauris </h2>
            <ul>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
            </ul>
          </li>
        </ul>
      </div> 
          // end div#sidebar 
          div(style='clear: both; height: 1px')
      // end div#page 
      #footer
        p
          | Copyright © 2007 Catteleya. All Rights Reserved. Designed by
          a(href='http://www.freecsstemplates.org/') Free CSS Templates
          | .
          a(href='#') Privacy Policy
          | |
          a(href='#') Terms of Use
      // end div#footer 
    // end div#wrapper 
    // Google Analytics Tag 
