!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title The Boys of Summer
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='default.css', rel='stylesheet', type='text/css')
    script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17985058-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    #wrapper
      #header
        #logo
          h1
            a(href='./') The Boys of Summer
          h2 A week of sports, computers, and fun
        // end div#logo 
      // end div#header 
      #menu
        ul
          li
            a(href='/') Home
          li
            a(href='./portfolios.html') Camper Portfolios
          li
            a(href='./media.html') Pictures and Videos
          li
            a(href='./about.html') About
          li
            a(href='./contact.html') Contact
      // end div#menu 
      #page
        .center
          img(src='./images/header.jpg', width='940')
        #page-bgtop
          #content
            .post
              h2.title
                a(href='#')
                  strong YOTAM
              p.byline
              .entry
                p
                  img(src='http://sphotos.ak.fbcdn.net/hphotos-ak-snc4/hs201.snc4/38407_469745100832_629190832_6806236_3432918_n.jpg')
            .post
              h2.title
                a(href='#') Day I
              p.byline
              .entry
                p
                  | Set up gmail accounts and email. Interactive games and competions with Google
                  | Docs, Google Wave, Google Search, and Wikipedia.
            .post
              h2.title
                a(href='#') Day II & III
              p.byline
              .entry
                p
                  | Built websites,
                  a(href='http://sites.google.com/site/yotamelazar/home') site
                  | .
                p
                  object(width='800', height='400', data='http://sites.google.com/site/yotamelazar/home')
            .post
              h2.title
                a(href='#') Day IV
              p.byline
              .entry
                p Excel Spreadsheets, NFL TDs.
                p
                  img(width='800', src='http://sites.google.com/site/yotamelazar/_/rsrc/1279915504578/nfl/yotam.bmp')
            .post
              h2.title
                a(href='#') Day V
              p.byline
              .entry
                p PowerPoint Presentations
                p
                  object(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='800', height='600', codebase='http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab')
                    param(name='movie', value='https://acrobat.com/Clients/current/ADCMainEmbed.swf')
                    param(name='quality', value='high')
                    param(name='wmode', value='transparent')
                    param(name='bgcolor', value='#202020')
                    param(name='allowScriptAccess', value='sameDomain')
                    param(name='allowFullScreen', value='true')
                    param(name='flashvars', value='d=vA7Zy*acKqWVIPTydWryaw')
                    embed(src='https://acrobat.com/Clients/current/ADCMainEmbed.swf', quality='high', bgcolor='#202020', width='800', height='600', align='middle', play='true', loop='false', wmode='transparent', allowscriptaccess='sameDomain', allowfullscreen='true', type='application/x-shockwave-flash', flashvars='d=vA7Zy*acKqWVIPTydWryaw', pluginspage='http://www.adobe.com/go/getflashplayer')
            // <div class="post">
          <h2 class="title"><a href="#">Welcome!</a></h2>
          <p class="byline"></p>
          <div class="entry">
            <p>I'm glad you found your way to the camp site. You can learn more about me and this camp under the <a href="/about.html">ABOUT</a> tab in the menu. To view the camp the <a href="/schedule.html">SCHEDULE</a> link to see the camp schedule. To sign up for camp please see the <a href="/links.html">LINKS</a> page. Again, welcome to <strong>The Boys of Summer</strong> camp page and look I forward to seeing you this summer!</p><p>Jack</p>
          </div>
			</div> 
          // end div#content 
          // <li id="search">
            <h2>Search</h2>
            <form method="get" action="">
              <fieldset>
              <input type="text" id="search-text" name="s" value="" />
              <input type="submit" id="search-submit" value="Search" />
              </fieldset>
            </form>
          </li>
          <li>
            <h2>Lorem Ipsum</h2>
            <ul>
              <li><a href="#">Fusce dui neque fringilla</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
            </ul>
          </li>
          <li>
            <h2>Volutpat Dolore</h2>
            <ul>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
            </ul>
          </li>
          <li>
            <h2>Bebindum Mauris </h2>
            <ul>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Magna lacus bibendum mauris</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Nec metus sed donec</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
              <li><a href="#">Eget tempor eget nonummy</a></li>
              <li><a href="#">Velit semper nisi molestie</a></li>
            </ul>
          </li>
        </ul>
      </div> 
          // end div#sidebar 
          div(style='clear: both; height: 1px')
      // end div#page 
      #footer
        p
          | Copyright © 2007 Catteleya. All Rights Reserved. Designed by
          a(href='http://www.freecsstemplates.org/') Free CSS Templates
          | .
          a(href='#') Privacy Policy
          | |
          a(href='#') Terms of Use
      // end div#footer 
    // end div#wrapper 
