!!! strict
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://opengraphprotocol.org/schema/', xmlns:fb='http://www.facebook.com/2008/fbml')
  head
    meta(property='og:title', content='The Boys of Summer Camp')
    meta(property='og:type', content='sports_team')
    meta(property='og:site_name', content='The Boys of Summer')
    meta(property='og:url', content='http://theboysofsummercamp.com/')
    meta(property='fb:admins', content='629190832')
    meta(property='og:image', content='http://sphotos.ak.fbcdn.net/hphotos-ak-ash2/hs101.ash2/38407_469745095832_629190832_6806235_6390387_n.jpg')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title The Boys of Summer
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='stylesheets/default.css', rel='stylesheet', type='text/css')
    script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17985058-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    #wrapper
      #header
        #logo
          h1
            a(href='#') The Boys of Summer
          h2 A week of sports, computers, and fun
      #menu
        ul
          li.active
            a(href='/') Home
          li
            a(href='/portfolios') Portfolios
          li
            a(href='/media') Media
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
      #page
        .center
          img(src='./images/header.jpg', width='940')
        #page-bgtop!= body
          div(style='clear: both; height: 1px')
      #footer
        p
          | Copyright © 2007 Catteleya. All Rights Reserved. Designed by
          a(href='http://www.freecsstemplates.org/') Free CSS Templates
          | .
          a(href='#') Privacy Policy
          | |
          a(href='#') Terms of Use

    //iframe(src='http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftheboysofsummercamp.com&layout=standard&show_faces=true&width=450&action=like&colorscheme=light&height=80', scrolling='no', frameborder='0', style='border:none; padding:30px; overflow:hidden; width:450px; height:80px;', allowtransparency='true')
