#content
  .post
    h2.title
      a(href='#') Photos
    p.byline
    .entry
      p Session I
      img(style='visibility:hidden;width:0px;height:0px;', border='0', width='0', height='0', src='http://counters.gigya.com/wildfire/IMP/CXNID=2000002.11NXC/bT*xJmx*PTEyNzc5MTM3NDc2OTkmcHQ9MTI3NzkxMzc1MDM5NSZwPTkwMjA1MSZkPSZnPTEmb2Y9MA==.gif')
      object#ci_54536_o(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='400', height='248')
        param(name='movie', value='http://apps.cooliris.com/embed/cooliris.swf')
        param(name='allowFullScreen', value='true')
        param(name='allowScriptAccess', value='always')
        param(name='bgColor', value='#121212')
        param(name='flashvars', value='fv=ZmVlZD1hcGklM0ElMkYlMkZ3d3cuZmFjZWJvb2suY29tJTJGJTNGc2Vzc2lvbiUzRDI1MmM4MmY2YzViMmQ3MjNhMzU1Yjg4ZS02MjkxOTA4MzIlMjZ1c2VyJTNENjI5MTkwODMyJTI2a2V5JTNEQSUyNmFsYnVtJTNEMjcwMjM1NDA0NjM4MzI2NjY0NiZudW1yb3dzPTI=')
        param(name='wmode', value='opaque')
        embed#ci_54536_e(type='application/x-shockwave-flash', src='http://apps.cooliris.com/embed/cooliris.swf', width='900', height='400', allowfullscreen='true', allowscriptaccess='always', bgcolor='#121212', flashvars='fv=ZmVlZD1hcGklM0ElMkYlMkZ3d3cuZmFjZWJvb2suY29tJTJGJTNGc2Vzc2lvbiUzRDI1MmM4MmY2YzViMmQ3MjNhMzU1Yjg4ZS02MjkxOTA4MzIlMjZ1c2VyJTNENjI5MTkwODMyJTI2a2V5JTNEQSUyNmFsYnVtJTNEMjcwMjM1NDA0NjM4MzI2NjY0NiZudW1yb3dzPTI=', wmode='opaque')
      p Session II
      img(style='visibility:hidden;width:0px;height:0px;', border='0', width='0', height='0', src='http://counters.gigya.com/wildfire/IMP/CXNID=2000002.11NXC/bT*xJmx*PTEyODE1ODQ1MjgyMTkmcHQ9MTI4MTU4NDUzMjU1NSZwPTkwMjA1MSZkPSZnPTEmb2Y9MA==.gif')
      object#ci_48618_o(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='400', height='248')
        param(name='movie', value='http://apps.cooliris.com/embed/cooliris.swf')
        param(name='allowFullScreen', value='true')
        param(name='allowScriptAccess', value='always')
        param(name='bgColor', value='#121212')
        param(name='flashvars', value='fv=ZmVlZD1hcGklM0ElMkYlMkZ3d3cuZmFjZWJvb2suY29tJTJGJTNGc2Vzc2lvbiUzRDI1MmM4MmY2YzViMmQ3MjNhMzU1Yjg4ZS02MjkxOTA4MzIlMjZ1c2VyJTNENjI5MTkwODMyJTI2a2V5JTNEQSUyNmFsYnVtJTNEMjcwMjM1NDA0NjM4MzI3NTQ2NCZudW1yb3dzPTI=')
        param(name='wmode', value='opaque')
        embed#ci_48618_e(type='application/x-shockwave-flash', src='http://apps.cooliris.com/embed/cooliris.swf', width='900', height='400', allowfullscreen='true', allowscriptaccess='always', bgcolor='#121212', flashvars='fv=ZmVlZD1hcGklM0ElMkYlMkZ3d3cuZmFjZWJvb2suY29tJTJGJTNGc2Vzc2lvbiUzRDI1MmM4MmY2YzViMmQ3MjNhMzU1Yjg4ZS02MjkxOTA4MzIlMjZ1c2VyJTNENjI5MTkwODMyJTI2a2V5JTNEQSUyNmFsYnVtJTNEMjcwMjM1NDA0NjM4MzI3NTQ2NCZudW1yb3dzPTI=', wmode='opaque')
  .post
    h2.title
      a(href='#') Videos
    p.byline
    .entry
      p Session I
      img(style='visibility:hidden;width:0px;height:0px;', border='0', width='0', height='0', src='http://counters.gigya.com/wildfire/IMP/CXNID=2000002.11NXC/bT*xJmx*PTEyNzc5MTQyMTI4NDQmcHQ9MTI3NzkxNDIxNTc5MyZwPTkwMjA1MSZkPSZnPTEmb2Y9MA==.gif')
      object#ci_08972_o(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='400', height='248')
        param(name='movie', value='http://apps.cooliris.com/embed/cooliris.swf')
        param(name='allowFullScreen', value='true')
        param(name='allowScriptAccess', value='always')
        param(name='bgColor', value='#121212')
        param(name='flashvars', value='feed=api%3A%2F%2Fwww.youtube.com%2F%3Fuser%3Djdubie2233%26type%3Dfavorites&numrows=1')
        param(name='wmode', value='opaque')
        embed#ci_08972_e(type='application/x-shockwave-flash', src='http://apps.cooliris.com/embed/cooliris.swf', width='900', height='400', allowfullscreen='true', allowscriptaccess='always', bgcolor='#121212', flashvars='feed=api%3A%2F%2Fwww.youtube.com%2F%3Fuser%3Djdubie2233%26type%3Dfavorites&numrows=1', wmode='opaque')
