#content
  .post
    h2.title
      a(href='#') Session I
    p.byline
    #portfolios
      li
        ul
          a(href='./portfolios/lucas/lucas.html') Lucas
        ul
          a(href='./portfolios/shane/shane.html') Shane
        ul
          a(href='./portfolios/jack/jack.html') Jack
        ul
          a(href='./portfolios/christopher/christopher.html') Christopher
        ul
          a(href='./portfolios/keenan/keenan.html') Keenan
        ul
          a(href='./portfolios/sam/sam.html') Sam
        ul
          a(href='./portfolios/miles/miles.html') Miles
  .post
    h2.title
      a(href='#') Session II
    p.byline
    #portfolios
      li
        ul
          a(href='./peter.html') Peter
        ul
          a(href='./michael.html') Michael
        ul
          a(href='./miles.html') Miles
        ul
          a(href='./yotam.html') Yotam
        ul
          a(href='./nicholas.html') Nicholas
        ul
          a(href='./franky.html') Franky


#sidebar
  li
    h2 2011 Dates
    ul
      li
  li
    h2 Session I
    ul
      li August 15 - August 19
      li 9 am - 2 pm
  li
    h2 2010 Dates
    ul
      li
  li
    h2 Session I
    ul
      li June 21 - June 25
      li 9 am - 3 pm
  li
    h2 Session II
    ul
      li July 19 - July 23
      li 9 am - 3 pm

